
.home-container {
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
}

.about-me-header {
    padding: 0;
    margin: 0;
    display: flex;
    height: 105vh;
    width: 100vw;
}

/* About me text Style ---------------------------- */
.about-me-name {
    display: flex;
    overflow: hidden;
    background-color: #cce3de;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 3em;
    padding-top: 3rem;
    z-index: -1;
}

.name-text {
    font-family: 'Josefin Slab', serif, Arial, Helvetica, sans-serif;
    font-size: 8em;
    color: #6b9080;
    display: flex;
    text-decoration: underline;
}

.first {
    justify-content: left;
    padding-left: 10%;
}

.last {
    justify-content: right;
    padding-right: 10%;
}


/* About me Img Style ------------------------*/

.about-me-img {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, #cce3deff, rgba(0, 0, 0, 0.5) 60%), url('../images/me_in_my_brain.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headshot {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* About me description ------------------- */

.about-me-description {
    font-family: 'Carrois Gothic', serif, Arial, Helvetica, sans-serif;
    height: auto;
    color: #6b9080;
    font-weight: 500;
    text-align: center;
    font-size: 2em;
    padding: 0 1em;
    line-height: 1.2em;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

/* Projects Section ------------------------------ */

.projects {
    height: 105vh;
    width: 100vw;
    background-color: #6b9080;
    background-image: linear-gradient(45deg, #6b9080 43.48%, #a4c3b214 43.48%, rgba(164, 195, 178, 0.663) 50%, #6b9080 50%, #6b9080 93.48%, #a4c3b214 93.48%, #a4c3b214 100%);
    background-size: 32.53px 32.53px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-section-title {
    padding: 2rem;
    text-align: center;
    padding-top: .7em;
    font-size: 4.5rem;
    font-family: 'Josefin Slab', serif, Arial, Helvetica, sans-serif;
    color: #cce3de;
    text-decoration: underline;
}

.project-cards {
    display: flex;
    width: 70%;
    height: 75%;
    justify-content: center;
    box-shadow: .1em .1em .5em black;

}

.swiper {
    width: 100%;
    height: 100%;
}

.slide-img {
    aspect-ratio: 1 / 1;
    width: 100%;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background-color: #a4c3b2 !important;
    opacity: 1 !important;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #f6fff8 !important;
  }

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  font-size: .5em;
  text-shadow: -1px -1px 0 #ffff, 1px -1px 0 #ffff, -1px 1px 0 #ffff, 1px 1px 0 #ffff;
}

.projects-page-div {
    width: auto;
    margin: auto;
    background-color: #d4e2df;
    padding: .3em;
    border-radius: 15px;
    box-shadow: .2em .2em .2em rgb(79, 78, 78);
    border: 1px solid #445d53;
    transition: all;
    transition-duration: 0.5s;
    padding: .5em;
    background-position: center center;
    cursor: pointer;
}

.project-page-button {
    color: #6b9080;
    font-size: 3em;
    text-decoration: none;
}

.projects-page-div:hover{
    transform: scale(1.05) rotateX(20deg);
    box-shadow:  .3em .3em .3em rgb(79, 78, 78);
}


/* Skills Section -------------------------------------- */

.skills {
    height: 105vh;
    width: 100vw;
    background-image: linear-gradient(45deg, #cce3de 43.48%, #a4c3b2a8 43.48%, #a4c3b2a8 50%, #cce3de 50%, #cce3de 93.48%, #a4c3b2a8 93.48%, #a4c3b2a8 100%);
    background-size: 32.53px 32.53px;
    display: flex;
    flex-direction: column;
}

.my-skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: .7em;
    font-size: 4.5rem;
    font-family: 'Josefin Slab', serif, Arial, Helvetica, sans-serif;
    color: #6b9080;
    text-decoration: underline;
}

.learning-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.learning-now-text {
    font-size: 4em;
    color: #6b9080;
    font-family: 'Josefin Slab', serif, Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.learning-now-text-left {
    margin-right: 1em;
}

.learning-now-text-right {
    margin-left: 1em;
}

.learning-slider {
    width: 15em;
}

.learning-slider .swiper-slide {
    transition: all 0.6s;
}

.learning-slider .swiper-slide-prev,
.learning-slider .swiper-slide-next {
transform: scale(0.8);
opacity: 0.6;
}






















/* Media Queries -----------------------*/

@media (max-width: 950px) {
    .name-text {
        font-size: 5em;
    }

    .about-me-description {
        font-size: 1.6em;
    }
}

@media (max-width: 850px) {
    .about-me-description {
        font-size: 1.2em;
    }
}

@media (max-width: 650px) {
    .name-text {
        font-size: 3em;
    }

    .about-me-description {
        font-size: 1em;
    }

    .project-section-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 450px) {
    .about-me-description {
        font-size: .8em;
    }

    .project-section-title {
        font-size: 1.5rem;
    }
}

