.learn-container {
    display: flex;
    flex-direction: column;
    width: 10.5em;
    margin: auto;
    gap: .5em;
    padding: .5em;
}

.learn-img {
    background-color: white;
    object-fit: cover;
    height: 9em;
    aspect-ratio: 1;
    padding: 0.5em;
    border-radius: 20px;
    box-shadow: 0 0 0.5em black;
}

.learn-name {
    font-size: 2.5em;
    font-family: 'Josefin Slab', serif, Arial, Helvetica, sans-serif;
    color: #6b9080;
    text-align: center;
}