.project-showcase-container {
    padding: 1em 0 1em 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #6b9080;
    gap: 3em;
    background-color: #6b9080;
    background-image: linear-gradient(45deg, #6b9080 43.48%, #a4c3b214 43.48%, rgba(164, 195, 178, 0.663) 50%, #6b9080 50%, #6b9080 93.48%, #a4c3b214 93.48%, #a4c3b214 100%);
    background-size: 15px 15px;
    background-position: center center;
}

.project-page-title-div {
    width: auto;
    margin: auto;
    background-color: #d4e2df;
    padding: 1em 2em 1em 2em;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 0 .4em rgb(58, 58, 58);
}

.project-page-title {
    font-size: 4em;
    text-decoration: underline;
}

.project-container {
    display: flex;
    width: 100%;
    height: auto;
    gap: 1em;
    justify-content: space-between;
    background-position: center center;
}

.left-project {
    text-align: center;
}

.left-project > .info-box {
    margin-right: 1em;
}

.right-project {
    flex-direction: row-reverse;
    text-align: right;
}

.right-project > .info-box {
    margin-left: 1em;
}

.project-thumbnail {
    height: 100%;
    width: 100%;
    border-radius: 45% 55% 48% 52% / 43% 30% 70% 57% ;
    box-shadow: .1em .1em .5em black;
}

.project-thumbnail-container {
    height: auto;
    width: 45%;
    padding: 1em;
}

.info-box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
    padding: 1em;
    gap: 1em;
    background-color: #cce3de;
    border-radius: 25%;
    box-shadow: .1em .1em .5em black;
    gap: 2em;
    background-position: center center;
}

.project-title {
    font-size: 2.5em;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.project-description {
    font-size: 1.5em;
}

.code-buttons {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.code-buttons:hover {
    cursor: pointer;
}

.project-button {
    background-color: #d4e2df;
    padding: .3em;
    border-radius: 15px;
    box-shadow: .1em .1em .1em;
    border: 1px solid #6b9080;
    transition: all;
    transition-duration: 0.5s;
}

.project-button:hover {
    transform: scale(1.05) rotateX(20deg);
    box-shadow: .2em .2em .2em;
}

/* Project Nav ---------------------------------- */

.home-page-div {
    width: auto;
    margin: auto;
    background-color: #d4e2df;
    padding: .3em;
    border-radius: 15px;
    box-shadow: .2em .2em .2em rgb(79, 78, 78);
    border: 1px solid #445d53;
    transition: all;
    transition-duration: 0.5s;
    padding: .5em;
    background-position: center center;
    cursor: pointer;
}

.home-page-button {
    color: #6b9080;
    font-size: 3em;
    text-decoration: none;
    transition: all;
    transition-delay: 1s;
}

.home-page-div:hover{
    transform: scale(1.05) rotateX(20deg);
    box-shadow:  .3em .3em .3em rgb(79, 78, 78);
}

/* Project skills ------------------- */

.project-skill {
    height: 2.5em;
    width: 2.5em;
    border-radius: 20px;
    padding: .5em;
    background-color: white;
}

.project-skill-list {
    display: flex;
    gap: .5em;
    justify-content: center;
    margin-top: .5em;
}



@media only screen and (max-width: 767px) {
    .project-page-title {
        font-size: 3.7em;
    }

    .project-title {
        font-size: 2.2em;
    }

    .project-skill {
        height: 2.2em;
        width: 2.2em;
    }

    .project-description {
        font-size: 1.5em;
    }
  }


  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .project-page-title {
        font-size: 3.4em;
    }

    .project-title {
        font-size: 1.9em;
    }

    .project-skill {
        height: 1.9em;
        width: 1.9em;
    }

    .project-description {
        font-size: 1.2em;
    }
  }


  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .project-page-title {
        font-size: 3.1em;
    }

    .project-title {
        font-size: 1.6em;
    }

    .project-skill {
        height: 1.6em;
        width: 1.6em;
    }

    .project-description {
        font-size: .9em;
    }
  }


  @media only screen and (max-width: 767px) {
    .project-page-title {
        font-size: 2.8em;
    }

    .project-title {
        font-size: 2em;
    }

    .project-skill {
        height: 1.3em;
        width: 1.3em;
    }

    .project-description {
        font-size: 1em;
    }

    .project-thumbnail {
        width: 100%;
        height: 50%;
        border-radius: 20px;
    }

    .project-thumbnail-container {
        display: flex;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 0;
    }

    .info-box {
        border-radius: 20px;
    }

    .project-showcase-container {
        padding-top: 1em;
    }

    .project-container {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .left-project > .info-box {
        margin-right: 0;
        width: 100%;
        padding: 0;
        padding-top: 1em;
    }

    .right-project > .info-box {
        margin-left: 0;
        width: 100%;
        padding: 0;
        padding-top: 1em;
    }

    .project-page-title {
        font-size: 2em;
    }

    .project-button {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    .home-page-button {
        color: #6b9080;
        font-size: 2em;
    }
  }