.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6b9080;
    border-radius: 60px;
    box-shadow: 0 0 .5em black;
}

.skill-img {
    background-color: white;
    padding: .2em;
    width: 6em;
    height: 6em;
    border-radius: 20px;
    box-shadow: 0 0 .5em black;
}

.skill-name {
    margin-top: .5em;
    color: #cbe3de;
    font-size: 1.8em;
    font-family: 'Josefin Slab', serif, Arial, Helvetica, sans-serif;
}




@media (max-width: 950px) {
    .skill-img {
        width: 5em;
        height: 5em;
    }
}

@media (max-width: 850px) {

}

@media (max-width: 650px) {

}

@media (max-width: 450px) {

}