.container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}

.skill-img {
    background-color: white;
    padding: .2em;
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

.skill-name {
    margin-top: .5em;
    color: #6b9080;
    font-size: 1.8em;
    font-family: 'Josefin Slab', serif, Arial, Helvetica, sans-serif;
}